body{
    margin: 0;
    background-color: rgb(116, 144, 99);
}
header{
    height: 150px;
    background-color: rgb(82, 137, 82);
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
}
nav{
    height: 70px;
    background-color: rgb(108, 177, 108);
    display:flex;
    justify-content: space-around;
    text-align: center;
}
.TopMain{
    height: auto;
    width: 100%;
    margin:auto;
    background-color:rgb(56, 122, 50);

}
img{
    display: block;
    width:100%;
    /* height: 100%; */
    object-fit: cover;
    object-position: center;
    
}

.BottomMain{
    height:auto;
    width: 100%;
    margin:auto;
    background-color:  rgb(108, 160, 112);
    display: grid;
    grid-template-columns:
    1fr 1fr ;
}
.ac1{
    background-color:rgb(108, 177, 108);
}
.ac2{
    background-color: rgb(108, 177, 108);
}
h3{
    justify-items: center;
    display:inline-block;
    padding: 5px 10px; 
    background-color: rgb(227, 229, 107);
    border-radius: 5px;
}

.BottomMain h2{
    font-size: medium;
    text-align: center;
}
.bottommain li{
    font-size: xx-small;
}
footer{
    height: 10vh;
    background-color: rgb(108, 160, 112);
}