body{
    margin: 0;
    background-color: rgb(116, 144, 99);
}
header{
    height: 150px;
    background-color: rgb(50, 111, 79);
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
}
nav{
    height: 50px;
    background-color: rgb(108, 160, 112);
    display:flex;
    justify-content: space-around;
}
.TopMain{
    height: 45vh;
    width: 100%;
    margin:auto;
    background-color:rgb(229, 4, 4);

}
img{
    width:50%;
    min-height: 100%;
}

.BottomMain{
    height:50vh;
    width: 100%;
    margin:auto;
    background-color: rgb(21, 223, 55);
}
footer{
    height: 10vh;
    background-color: rgb(50, 111, 79);
}